@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background-image: url("assets/backgrounds/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Varela Round", sans-serif;
  overflow: auto;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.brand {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  color: black;
}

.loginArea {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* min-width: 90%; */
  flex: 80%;
  height: 95%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.542);
  background-clip: padding-box;
  animation: pop 1s;
  overflow: auto;
  box-sizing: border-box;
}

.canvasHome{
  display: flex;
  flex-direction: column;
  flex: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  animation: pop 1s;
  box-sizing: border-box;
}

.header{
  display: flex;
  height: 8vh;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 4px 8px grey;
  padding: 1rem;
  box-sizing: border-box;
}

.header .brand{
  justify-content: flex-start;
  flex: 50%;
  padding: 0;
}

.logoutButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.header .profile{
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-red {
  color: red;
}

.signupForm div {
  flex: 1 1 40%;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 90%; */
  flex: 40%;
  gap: 1rem;
  height: max-content;
  width: 100%;
  padding: 1.5rem;
  font-size: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 2px 8px 32px rgb(222, 222, 222);
  background-clip: padding-box;
  box-sizing: border-box;
  animation: pop 1s;
  overflow: auto;
}

.headText {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 60%;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.label {
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #000000;
  display: block;
}

.inputForm {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  font-family: "Varela Round", sans-serif;
}

.inputForm:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.inputForm::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.link {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: #ff0000;
  margin-top: 0.5rem;
  display: inline-block;
}

.link:hover {
  color: rgb(95, 145, 255);
  text-decoration: underline;
}

.btn {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  transition: 1s;
}

.btn:hover {
  background-color: #0060c7;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.sideBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.messageArea {
  display: flex;
  flex-direction: column;
  flex: 70%;
  height: 100%;
  box-sizing: border-box;
}

.singleChatArea {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.centreContent {
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.MessageGreet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  font-size: 2rem;
}

.todoMessage {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.todoMessage .brand {
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
}

.appIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.addNewfloatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: pop 1s;
}

.disabled {
  display: none;
}

.addNewfloatBox .loginBox {
  animation: none;
  cursor: default;
  flex: 40%;
  background-color: rgba(255, 255, 255, 0.2);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5 rem 0;
  position: relative;
  flex: 0.5%;
}

/* .divider::before,
.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */

.divider .px-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.searchArea {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.searchArea .inputForm {
  margin: 0;
}

.searchButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  /* font-size: 1rem; */
  /* font-weight: 500; */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-sizing: border-box;
}

.searchButton .icon {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  color: white;
}

.searchButton:active {
  transform: scale(0.9);
}

.conversation_list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  /* min-height: 75%;
    max-height: 75%; */
  flex: 84.5%;
  overflow: auto;
}

.conversation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  border-radius: 0.25rem;
  padding: 0.8rem;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  transition: all 0.5s;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.conversation:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.conversation_list .divider {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  fill: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  display: block;
  height: 0.5rem;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.25rem;
  cursor: pointer;
}

*::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: block;
  height: 0.5rem;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.5);
  border-top: 0.25rem;
  cursor: pointer;
}

*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.5);
}

.nameArea {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
}

.logoutArea {
  flex: 9.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  color: white;
  box-sizing: border-box;
}

.logOutButtonArea {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  position: absolute;
  bottom: -45%;
  left: 10px;
}

.addNewConversationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 0.15rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-sizing: border-box;
}

.addNewConversationButton:active {
  transform: scale(0.9);
}

.startConversationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
}

.startConversationBox .addNewConversationButton {
  justify-self: center;
  align-self: center;
  border-radius: 13px;
  width: 4.5rem;
  margin: 1rem;
}

.startConversationBox .todoMessage {
  text-align: center;
  width: 70%;
}

.logButton {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

/* Media Query for Background*/
@media (max-width: 1920px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 850px) {
  .app {
    padding: 0;
    box-sizing: border-box;
  }


  .canvas{
    width: 100%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .loginBox {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
    background-color: transparent;
  }

  .loginForm{
    width: 90%;
    gap: 1rem;
    border-radius: 13px;
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .loginBox div {
    width: 100%;
  }

  .signupForm {
    flex-wrap: nowrap;
    flex-direction: column;
    /* max-height: 100vh; */
    height: 80%;
    width: 90%;
    border-radius: 13px;
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .signupForm div{
    height: 10%;
    width: 70%;
    margin: 0;
  }

  /* .signupForm div:first-child{
    width: 100%;
    height: 10%;
  } */

  .signupForm div:last-child, .loginForm div:last-child{
    /* height: 10%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signupForm .label{
    height: 30%;
    font-size: 1rem;
  }

  .signupForm .btn{
    height: 50%;
  }

  .signupForm .link{
    font-size: 1rem;
    height: 50%;
  }
  .signupForm .inputForm{
    height: 70%;
    width: 100%;
  }

  .headText {
    flex-direction: column;
    width: 100%;
    flex: 20%;
    /* flex: 20%; */
  }
  .brand{
    display: flex;
    width: 100%;
  }

  .brand div{
    display: flex;
  }

  .brand div:first-child{
    justify-content: flex-end;
    align-items: flex-end;
    flex: 50%;
  }

  .brand div:last-child{
    justify-content: flex-start;
    flex: 40%;
  }

  .inputForm {
    width: 100%;
    height: 4rem;
  }

  .btn {
    /* margin-top: 2rem; */
    width: 40%;
    height: 4rem;
  }

  .link {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
  }

  .searchButton {
    width: 2.5rem;
    height: 2.5rem;
  }

  .searchArea {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0rem;
  }

  .searchArea .inputForm {
    width: 80%;
    height: 2.5rem;
  }

  .conversation {
    padding: 1rem 0rem;
  }

  .messageArea {
    /* display: none; */
  }

  .disabled {
    display: none;
  }

  .sideBar {
    padding: 1rem 0.4rem;
    box-sizing: border-box;
    /* display: none; */
  }

  .messageInputArea {
    display: flex;
    flex-direction: row;
  }

  .messageInputArea .inputForm {
    flex: 80%;
  }

  .message-send-button {
    flex: 10%;
  }
}

@media (max-width: 850px) and (max-height: 800px) {
  /* .conversation_list{
        min-height: 40%;
        max-height: 48%;
    } */
}

@media (max-width: 850px) and (min-height: 900px) {
  /* .conversation_list{
        min-height: 50%;
        max-height: 69%;
    } */
}
